<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IInventoryService" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOrderService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/InventorySystem/InventoryService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IInventoryService"
                contract="InventoryServiceRef.IInventoryService" name="WSDualHttpBinding_IInventoryService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/InventorySystem/OrderService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderService"
                contract="OrderServiceRef.IOrderService" name="WSHttpBinding_IOrderService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>